@charset 'UTF-8';

@import '../../../bower_components/angular-material/modules/scss/angular-material.scss';
@import '../../../bower_components/angular-material/modules/scss/angular-material.layout-attributes.scss';
@import '../../../bower_components/angular-material/modules/scss/angular-material.layouts.scss';

[ui-view]
{
	height: 100%;
	width: 100%;
	display: block;
}

#container-join,
#container-battle
{
	height : 100%;
}

#container-battle
{
	.container-side{
		// height : 50%;

		.container-infos 
		{
			position: relative;
			height: auto;
			.container-image{
				position: relative;
				.informations
				{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				.channel-image
				{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}